// colors

$red: #f43427;
$white:#f4fdfd;
$yellow :#fcb11a;
$dimwhite:#fff4bb;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    background-color: $white;
}


.btn-style{
    width: 2.6rem;
    height: 2.6rem;
    margin-left: 0.5rem;
    background-color: $white;
    border-radius: 1px solid $red;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $red;
        color: $white;
        transition: all 0.3s ease-in-out;
    }
}
.menu_btn{
    position: absolute;
    z-index: 1;
    bottom: -1rem;
    left: 50%;
    background-color: $yellow;
    color: $white;
    text-transform: uppercase;
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid $yellow;
    border-radius: 2rem;
    transform: translate(-50%);
}